body {
    background: rgb(167, 249, 172);
    /*linear-gradient(to right bottom, rgb(167, 249, 172), white);*/
    color: white;
}

h1 {
    background:  rgb(67, 123, 255);
    /*color: hotpink;*/
}

p {
    background: white;
    color: black;
}

h2 {
    background:  #ababab;
}

li {
    list-style-type: none;
    background:  rgb(255, 190, 50);
    color: black;
}

li#name {
    background:  linear-gradient(to right, rgb(154, 113, 248), rgb(87, 75, 254));
    color: white;
}